## Pandas
- Pandas es una biblioteca de programacion de Python que proporcina estructura de datos y herramientas de analisis de datos.
- DataFrame que es una tabla bidimimensioal con etiquetas filas y columnas.
![Pandas](pandas.png)

In [9]:
import pandas as pd
pd.read_csv

In [5]:
data = {
         'Nombre':['Juan','Armando','Luis'],
         'Edad':[25,30,22],
         'Ciudad':['Bogota','Cali','Medellin'] 
       }

In [6]:
data

{'Nombre': ['Juan', 'Armando', 'Luis'],
 'Edad': [25, 30, 22],
 'Ciudad': ['Bogota', 'Cali', 'Medellin']}

In [7]:
df=pd.DataFrame(data)

In [8]:
df

    Nombre  Edad    Ciudad
0     Juan    25    Bogota
1  Armando    30      Cali
2     Luis    22  Medellin

In [10]:
df.head()

    Nombre  Edad    Ciudad
0     Juan    25    Bogota
1  Armando    30      Cali
2     Luis    22  Medellin

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  3 non-null      object
 1   Edad    3 non-null      int64
 2   Ciudad  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [12]:
#Filtrar datos
df_mayor_25=df[df['Edad']>25]
df_mayor_25

    Nombre  Edad Ciudad
1  Armando    30   Cali

In [13]:
df['Profesion'] =['Ingeniero','Doctor','Estudiante']
df

    Nombre  Edad    Ciudad   Profesion
0     Juan    25    Bogota   Ingeniero
1  Armando    30      Cali      Doctor
2     Luis    22  Medellin  Estudiante

In [15]:
df_data=pd.read_csv('data.csv')
df_data

   codigo nombre  edad
0       1   jose    23
1       2   luis    22
2       3  pedro    17

In [18]:
df_vic=pd.read_csv('denuncias-victimas-pgj.csv')
df_vic.head()

,id,idcarpeta,delito,categoria,fechahecho,ao,mes,sexo,edad,tipopersona,calidadjuridica,clasificaciondelito,lon,lat,geopoint
0,0,8511202,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,2019-08-31 20:30:00,2019.0,Agosto,Femenino,24.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.165831,19.265853,"19.2658532425,-99.1658309176"
1,1,8511203,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,2019-08-31 17:00:00,2019.0,Agosto,Femenino,45.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.231585,19.358567,"19.3585668959,-99.2315845002"
2,2,8511210,NARCOMENUDEO POSESION SIMPLE,DELITO DE BAJO IMPACTO,2019-08-31 23:30:00,2019.0,Agosto,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.041738,19.379067,"19.3790668024,-99.0417384999"
3,3,8511220,ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO,DELITO DE BAJO IMPACTO,2019-09-01 00:00:00,2019.0,Septiembre,Femenino,40.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.156856,19.335144,"19.3351437,-99.1568559003"
4,4,8511227,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,2019-09-01 01:50:00,2019.0,Septiembre,Femenino,NaN,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.161371,19.317343,"19.3173431639,-99.1613711149"

In [19]:
df_vic.describe()

,id,idcarpeta,ao,edad,lon,lat
count,145870.000000,1.458700e+05,145743.000000,100547.000000,140143.000000,140143.000000
mean,72934.500000,8.425766e+06,2018.865222,38.681413,-99.136049,19.387313
std,42109.186221,6.090228e+04,0.898186,16.410693,0.060952,0.068799
min,0.000000,8.322418e+06,1964.000000,0.000000,-99.340718,19.130325
25%,36467.250000,8.373664e+06,2019.000000,27.000000,-99.176119,19.341308
50%,72934.500000,8.423324e+06,2019.000000,37.000000,-99.140794,19.388654
75%,109401.750000,8.478405e+06,2019.000000,49.000000,-99.097270,19.437284
max,145869.000000,9.006473e+06,2019.000000,258.000000,-98.948126,19.582323

In [20]:
df_vic.tail()

,id,idcarpeta,delito,categoria,fechahecho,ao,mes,sexo,edad,tipopersona,calidadjuridica,clasificaciondelito,lon,lat,geopoint
145865,145865,8533929,ABUSO SEXUAL,DELITO DE BAJO IMPACTO,2019-09-28 20:00:00,2019.0,Septiembre,Femenino,22.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.202481,19.372614,"19.3726139581,-99.2024805395"
145866,145866,8533931,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,2019-09-30 20:00:00,2019.0,Septiembre,Femenino,20.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.184197,19.397102,"19.3971023956,-99.1841971002"
145867,145867,8533933,DESPOJO,DELITO DE BAJO IMPACTO,2019-08-29 14:00:00,2019.0,Agosto,Femenino,NaN,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.148761,19.311488,"19.3114877811,-99.1487612589"
145868,145868,8533947,HOMICIDIO POR ARMA DE FUEGO,HOMICIDIO DOLOSO,2019-09-30 23:49:00,2019.0,Septiembre,Masculino,30.0,FISICA,CADAVER,FUERO COMUN,-99.144678,19.480919,"19.4809194031,-99.1446780997"
145869,145869,8533948,ABUSO DE AUTORIDAD,DELITO DE BAJO IMPACTO,2019-09-30 20:45:00,2019.0,Septiembre,Femenino,55.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.138350,19.426559,"19.4265593441,-99.1383501038"

In [21]:
df_vic.loc[2]

id                                                2
idcarpeta                                   8511210
delito                 NARCOMENUDEO POSESION SIMPLE
categoria                    DELITO DE BAJO IMPACTO
fechahecho                      2019-08-31 23:30:00
ao                                           2019.0
mes                                          Agosto
sexo                                            NaN
edad                                            NaN
tipopersona                                   MORAL
calidadjuridica                             VICTIMA
clasificaciondelito                     FUERO COMUN
lon                                      -99.041738
lat                                       19.379067
geopoint               19.3790668024,-99.0417384999
Name: 2, dtype: object

In [22]:
df_vic.loc[[2,3,6,7,8]]

,id,idcarpeta,delito,categoria,fechahecho,ao,mes,sexo,edad,tipopersona,calidadjuridica,clasificaciondelito,lon,lat,geopoint
2,2,8511210,NARCOMENUDEO POSESION SIMPLE,DELITO DE BAJO IMPACTO,2019-08-31 23:30:00,2019.0,Agosto,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.041738,19.379067,"19.3790668024,-99.0417384999"
3,3,8511220,ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO,DELITO DE BAJO IMPACTO,2019-09-01 00:00:00,2019.0,Septiembre,Femenino,40.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.156856,19.335144,"19.3351437,-99.1568559003"
6,6,8511229,ROBO DE ACCESORIOS DE AUTO,DELITO DE BAJO IMPACTO,2019-09-01 00:45:00,2019.0,Septiembre,Femenino,NaN,FISICA,VICTIMA,FUERO COMUN,-99.144101,19.336086,"19.3360856977,-99.1441006003"
7,7,8511238,POSESION DE VEHICULO ROBADO,DELITO DE BAJO IMPACTO,2019-09-01 00:35:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.144443,19.292246,"19.2922458979,-99.1444425996"
8,8,8511239,VIOLACION,VIOLACIÓN,2019-08-31 13:08:00,2019.0,Agosto,Femenino,16.0,FISICA,VICTIMA,FUERO COMUN,NaN,NaN,NaN

In [24]:
#df_vic[['categoria','sexo','tipopersona']]
df_vic.loc[[2,3,6,7,8],['categoria','sexo','tipopersona']]

                categoria      sexo tipopersona
2  DELITO DE BAJO IMPACTO       NaN       MORAL
3  DELITO DE BAJO IMPACTO  Femenino      FISICA
6  DELITO DE BAJO IMPACTO  Femenino      FISICA
7  DELITO DE BAJO IMPACTO       NaN       MORAL
8               VIOLACIÓN  Femenino      FISICA

In [26]:
df_vic['categoria'].unique()

array(['DELITO DE BAJO IMPACTO', 'ROBO DE VEHÍCULO CON Y SIN VIOLENCIA',
       'VIOLACIÓN', 'HECHO NO DELICTIVO', 'HOMICIDIO DOLOSO',
       'LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO',
       'ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA',
       'ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA',
       'ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA',
       'ROBO A REPARTIDOR CON Y SIN VIOLENCIA',
       'ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA',
       'ROBO A CASA HABITACIÓN CON VIOLENCIA',
       'ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA',
       'ROBO A NEGOCIO CON VIOLENCIA',
       'ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA', 'SECUESTRO'],
      dtype=object)

In [29]:
df_vic.loc[df_vic['categoria']=='ROBO A REPARTIDOR CON Y SIN VIOLENCIA'].head(20)

,id,idcarpeta,delito,categoria,fechahecho,ao,mes,sexo,edad,tipopersona,calidadjuridica,clasificaciondelito,lon,lat,geopoint
140,140,8511805,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-01 18:00:00,2019.0,Septiembre,Masculino,42.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.074248,19.452256,"19.4522560817,-99.0742481504"
159,159,8511912,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-08-31 12:20:00,2019.0,Agosto,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.133163,19.522856,"19.5228555042,-99.1331630898"
161,161,8511928,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-08-22 16:30:00,2019.0,Agosto,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.142712,19.551086,"19.5510857838,-99.1427117604"
316,316,8512691,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-02 13:30:00,2019.0,Septiembre,Masculino,21.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.037848,19.376602,"19.3766017322,-99.03784789"
376,376,8512953,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-03 10:40:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.026290,19.372633,"19.3726328897,-99.0262895795"
413,413,8513113,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-03 15:27:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.167680,19.456515,"19.4565152905,-99.1676798555"
417,417,8513127,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-08-24 13:30:00,2019.0,Agosto,Masculino,20.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.049582,19.368559,"19.368559009,-99.0495824409"
811,811,8515113,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-08-20 11:20:00,2019.0,Agosto,Masculino,24.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.030696,19.387721,"19.3877206137,-99.0306956714"
962,962,8515771,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-06 15:10:00,2019.0,Septiembre,Masculino,24.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.041427,19.349983,"19.3499834501,-99.0414266597"
1095,1095,8516325,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-05 12:00:00,2019.0,Septiembre,Masculino,29.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.154572,19.547435,"19.5474352296,-99.1545724657"
1096,1096,8516325,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-05 12:00:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.154572,19.547435,"19.5474352296,-99.1545724657"
1134,1134,8516447,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-07-23 11:15:00,2019.0,Julio,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.206309,19.511677,"19.5116773928,-99.2063086684"
1171,1171,8516571,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-07 16:40:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.259405,19.327267,"19.3272668986,-99.2594046"
1187,1187,8516631,ROBO A REPARTIDOR SIN VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-07 14:50:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.120356,19.379982,"19.3799816667,-99.1203562085"
1380,1380,8517479,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-06 13:30:00,2019.0,Septiembre,Masculino,24.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.032448,19.376432,"19.3764320331,-99.0324482056"
1444,1444,8517735,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-06 11:00:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.188033,19.374856,"19.3748559539,-99.1880334886"
1611,1611,8518470,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-07 06:00:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.153800,19.492251,"19.4922509465,-99.1538004597"
1628,1628,8518582,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-02 13:00:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.251801,19.356499,"19.3564992885,-99.2518007796"
1712,1712,8518995,ROBO A REPARTIDOR SIN VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-04 10:20:00,2019.0,Septiembre,NaN,NaN,MORAL,VICTIMA,FUERO COMUN,-99.085813,19.435145,"19.4351446029,-99.0858129004"
1781,1781,8519349,ROBO A REPARTIDOR SIN VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,2019-09-11 09:15:00,2019.0,Septiembre,Masculino,30.0,FISICA,VICTIMA Y DENUNCIANTE,FUERO COMUN,-99.034716,19.386594,"19.3865938969,-99.0347163305"