# Que es el Machine Larning
- Es Una rama de la inteligencia artificial que se centra en el desarrollo de algortimos y modelos que permiten aprender patrones a partir de datos y realizar tareas sin ser explictamente programadas.
- Tipos Machine Learning
    - Aprendizaje supervizado
    - Aprendizaje no supervizado
    - Aprendizaje en base a pruebas    
    
![](th.jpg)    
    
- Libreria mas utilizadas con python para IA    :
  
    - [pandas](https://pandas.pydata.org/)  
    - [numpy](https://numpy.org/)  
    - [matplotlib](https://matplotlib.org/)  
    - [seaborn](https://seaborn.pydata.org/)  
    - [Tensorflow](https://www.tensorflow.org/)

In [ ]:
pip install pandas

In [5]:
import pandas as pd
datos = {
    'ID':[1,2,3],
    'Nombre':['Armando','Juan','Pedro'],
    'Edad':[25,67,18]
}
df = pd.DataFrame(datos)
df

   ID   Nombre  Edad
0   1  Armando    25
1   2     Juan    67
2   3    Pedro    18